body {
    font-family: "Exo 2", sans-serif;
}

.StarterBtns {
    user-select:none;
    position: fixed;
    left: 25px;
    top: 85px;
    width: 1000px;
    height: 600px;
    padding:20px;
    background: #0198fb;
    color:#fff;
    border:12px solid black;
    border-radius:10px;
}

.sb {
    user-select: none;
    color: white;
    background: #1844d1;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 10px solid purple;
    left: 50px;
    top: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.1s ease-in;
}

.sb2 {
    user-select: none;
    color: #EEC8E0;
    background: #392F5A;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 10px solid #A8C7BB;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.1s ease-in;
    margin-left: 47.5px;
}

.sb3 {
    user-select: none;
    background: #6B0504;
    border: 10px solid #001514;
    color: #FBFFFE;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 47.5px;
}

button {
    transition: all 0.2s ease;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
h3 {
    color: white;
    position: relative;
    left: 50px;
    top: 0px;
    font-weight: bold;
}

.ub {
    user-select: none;
    position: relative;
    left: 50px;
    top: 0px;
    color: #FFF1D0;
    background: #B6110F;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 10px solid #FFF1D0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.1s ease-in;
}

.pb {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: inline-block;
    padding: 12px 28px;
    border: 5px solid purple;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(270deg, #f72585, #b5179e, #7209b7);
    background-size: 600% 600%;
    animation: slideGradient 4s ease infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.pb:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}

@keyframes slideGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.UpgradesBar {
    user-select: none;
    position: fixed;
    right: 0;
    top: 30px;
    width: 400px;
    height: 100vh;
    background: #DD1C1A;
    color: #FFF1D0;
    padding: 10px;
    overflow-y: auto;
    box-shadow: 2px 0 8px rgba(0,0,0,0.3);
    border-left: 12px solid #F0C808;
}

.UpgradesBar .UpgBarTitle {
    color: #FFF1D0;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.UpgradesBar .UpgradesText {
    color: #FFF1D0;
}