body {
}

.LoginScreen {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 750px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgb(0 0 0);
}

.LoginTitle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    text-align: center;
}

.Username {
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 400px;
    height: 40px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #4e4d4d;
    border: 3px solid #bfbfbf;
    border-radius: 10px;
    box-shadow: 0 0 7px 1px rgb(190 190 190);
}

.Email {
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 400px;
    height: 40px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #4e4d4d;
    border: 3px solid #bfbfbf;
    border-radius: 10px;
    box-shadow: 0 0 7px 1px rgb(190 190 190);
    transition: transform 1s ease-in-out;
}

.Password {
    position: relative;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
    width: 400px;
    height: 40px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #4e4d4d;
    border: 3px solid #bfbfbf;
    border-radius: 10px;
    box-shadow: 0 0 7px 1px rgb(190 190 190);
}

.SubmitButton {
    position: fixed;
    left: 300px;
    bottom: 20px;
    width: 400px;
    height: 60px;
    color: #4e4d4d;
    border: 2px solid #151313;
    background: #484848;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    border-radius: 15px;
}

button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

button:active {
    transform: scale(0.95);
}

.ErrorMessage {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
    color: red;
}